.header{
  background-color: rgb(153, 153, 223);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header{
  border: greenyellow solid 2px;
  display: flex;
  flex-direction: column;
   -title{
    color: red;
  }
}